html,body {
    font-family: 'Montserrat', sans-serif;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");
.navbar-nav {
  margin: 1em 0 0 1em; }

.navbar {
  padding: 0rem 1rem; }

.navbar-light
.navbar-nav
.nav-link {
  font-size: 1.3em; }


body {
  margin: 0;
  font-size: 20px;
}

/*---------------------------Background Image*/
/* Backgroud image taken by myself*/
#landing-picture {
  background: url("assets/images/hill.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; }
  @media (min-width: 600px) {
    #landing-picture {

      height: 400px; } 

header {
  padding: 120px 0 50px;
  text-align: center;
}

hr {
    width: 20rem;
    height: 10rem;
    color: #575656;

}

section {
  padding: 50px 0;
}

.contact-heading {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #575656;
    color: rgb(193, 218, 241);
}

/*--------------------------------------------Map*/
#map {
   height:400px;
   width:100%;
   
}

/*--------------------------------------------Media Queries*/


/*--------------------------------------------Footer*/

footer a {
    color: #ccc;
    text-align: center;
    margin:0px;
    
}
footer a:hover,
footer a:focus{
    color: rgb(193, 218, 241);
}