html,body {
    font-family: 'Montserrat', sans-serif;
      margin: 0;
      font-size: 1em;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");
/*-----------------------NavBar*/
.navbar-nav {
  margin: 1em 0 0 1em; 
  }

.navbar {
  padding: 0rem 1rem; 
  }

.navbar-light
.navbar-nav
.nav-link {
  font-size: 1.3em;
  }
/*---------------Landing and paragraph text*/
h1 {
  text-shadow: 1px 1px #fff;
  padding-top: 40px;
}

p {
    font-weight: bold;
}
/*---------------------------Landing picture*/
#landingpicture p {
    color: #fff;
    text-shadow: 1px 1px #000000;
}

#landingpicture {
  background-image: url("../images/2-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}
  @media (min-width: 600px) {

    #landingpicture {

      height: 400px; 
      padding-top: 75px;
      } 
/*-------------sections*/

section {
  padding-top: 50px;
  padding-bottom: 50px;

}

.block-divider {
  width: 100px;
  height: 5px;
  border: 0;
  background-color: rgb(193, 218, 241);
  margin-top: 30px;
  margin-bottom: 30px;
}
/*----------------------info window*/
#info-window {
    max-height: 400px;
    overflow: auto;
}
/*--------------------------------------------Map*/

#map-container {
    padding-bottom: 50px;

}
#map {
   height:400px;
   width:100%;
}

/*------------------------ Listing*/

#listings {
  position: absolute;
  width: 200px;
  height: 470px;
  overflow: auto;
  left: 442px;
  top: 0px;
  cursor: pointer;
  overflow-x: hidden;
}
#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}
#controls {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}
#autocomplete {
  width: 100%;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

#resultsTable {
  border-collapse: collapse;
  width: 240px;
}
#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}
.iw_table_row {
  height: 18px;
}
.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}
.iw_table_icon {
  text-align: right;
}
/*------------------- Booking Form*/

#book {
  position: relative;
  height: 3em; }
  #book a {
    position: absolute;
    top: -2em; }

.form-bg {
  background: url("../images/manflag.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55em;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out; 
}
  @media (min-width: 600px) {


#booking-form {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 5em;
  padding-bottom:10px; }
  #booking-form .form-group {
    display: block;
    margin: 1em; }
    #booking-form .form-group label {
      color: #000000;
      font-weight: bold; }

      #submit-form {
  background-color: #ffffff;
  color: #575656;
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em; }
  #submit-form:hover {
    cursor: pointer;
    color: rgb(193, 218, 241); 
    }

button.btn.btn-primary {
    color: #575656;
    background-color: #fff;
    border-color: #575656;
    }

button.btn.btn-primary:hover {
    color: rgb(193, 218, 241);
    text-decoration: none;
}
    /*---------------------------Modal*/

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4); }

.modal-body {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0px;
    /* border: 1px solid #575656; */
    width: 60%;
    text-align: center;
    font-size: 25px;
}
/*--------------------------------------------Footer*/
.footer-details {
    display: flex; 
    padding: 20px;
}
footer a {
    color: #575656;
    padding: 15px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    
}

social-links a {
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-decoration: none; 
  }

footer a:hover,
footer a:focus{
    color: rgb(193, 218, 241);
}
}}