.nav-bar {
    text-decoration-color: #ffffff;
}

body {
  margin: 0;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}



header {
  padding: 120px 0 50px;
  text-align: center;
}
hr {
    width: 20rem;
    height: 10rem;
    color: #a19d9d;

}
section {
  padding: 50px 0;

}
.book {
    background-image: url(images/landscape10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-heading {
    font-family: "Nato Sans", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}


.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #a19d9d;
    color: rgb(193, 218, 241);
}

/*--------------------------------------------Map*/
div#map {
    min-height: 360px;
}

/*--------------------------------------------Media Queries*/


/*--------------------------------------------Footer*/

footer a {
    color: #ccc;
    text-align: center;
    
}
footer a:hover,
footer a:focus{
    color: rgb(193, 218, 241);
}
  

