.nav-bar {
    text-decoration-color: #ffffff;
}
body {
  margin: 0;
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
}

header {
  background-color: #ffffff;
  padding: 156px 0 100px;
  text-align: center;
}

section {
  padding: 150px 0;
}

/*--------------------------------------------Footer*/

footer a {
    color: #ccc;
}
footer a:hover,
footer a:focus{
    color: #eee;
}
  

